<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestionar Ventas</title>
  <link rel="stylesheet" th:href="@{/css/panel.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="panel-control">
<header class="Bienvenido">
  <h1>Bienvenido, <span th:text="${#strings.capitalize(usuario)}"></span></h1>
  <p>Rol: <span th:text="${#strings.capitalize(rol)}"></span></p>
</header>

<div class="panel-container">
  <!-- Barra lateral -->
  <aside class="sidebar">
    <div class="lateral-content">
      <ul>
        <li th:if="${rol == 'productor'}"><a th:href="@{/public/inicio}">Inicio</a></li>
        <li th:if="${rol == 'productor'}"><a th:href="@{/private/ofertar_producto}">Ofertar Producto</a></li>
        <li th:if="${rol == 'productor'}"><a th:href="@{/private/gestionar_productos}">Gestionar productos</a></li>
        <li th:if="${rol == 'productor'}"><a th:href="@{/private/gestionar_ventas}">Gestionar ventas</a> </li>
        <li><a th:href="@{/public/cerrar_sesion}">Cerrar Sesión</a></li>
      </ul>
    </div>
  </aside>

  <!-- Contenido Principal -->
  <main class="panel-content">
    <h1>Ventas registradas por: <span th:text="${usuario}"></span></h1>
    <table border="1">
      <thead>
      <tr>
        <th>ID Venta</th>
        <th>Producto</th>
        <th>Cantidad (Kg)</th>
        <th>Precio Unitario</th>
        <th>Total Venta</th>
        <th>Comprador</th>
        <th>Fecha</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="venta : ${listaVentas}">
        <td th:text="${venta.idVenta}">1</td>
        <td th:text="${venta.producto.nombre}">Arroz</td>
        <td th:text="${venta.cantidadKg}">10</td>
        <td th:text="${venta.producto.precio}">3500</td>
        <td th:text="${venta.totalVenta}">35000</td>
        <td th:text="${venta.comprador.nombreUsuario}">cliente123</td>
        <td th:text="${venta.fechaVenta}">2024-06-25</td>
      </tr>
      <tr th:if="${#lists.isEmpty(listaVentas)}">
        <td colspan="7">No se han registrado ventas.</td>
      </tr>
      </tbody>
    </table>
  </main>
</div>
</body>
</html>
